:root {
    --right-panel-width: 400px;
    --main-transition: 500ms;
    --silver-color: #dedede;
    --red-color: #f55;
}

.tomczuk {
    all: revert;
    font-family: calibri;
    z-index: 9999;
    outline: none;
}

.tomczuk-right-panel {
    padding: 0;
    color: var(--silver-color);
    font-size: 1.2rem;
    position: fixed;
    top: 0px;
    right: calc(( (var(--right-panel-width) / 2) * -1));
    border-left: 3px solid #000;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: var(--right-panel-width);
    transition: var(--main-transition) ease-out;
    box-shadow: inset 80px 0 80px -60px #000;
    user-select: none;
}

@media only screen and (min-width: 2100px) {
    .tomczuk-right-panel {
        right: 0;
    }
}

.tomczuk-right-panel.active,
.tomczuk-right-panel.permactive {
    right: 0;
    background: rgba(0, 0, 0, 0.75);
}

.tomczuk-right-panel.permactive {
    right: 0;
    background: rgba(0, 50, 0, 0.75);
}

.tomczuk-right-panel-header {
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    display: flex;
}

.tomczuk-utility-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
}

@media only screen and (max-width: 1700px) {
    .tomczuk-right-panel {
        right: calc( (var(--right-panel-width) * -1) + 35px);
    }
    .tomczuk-right-panel .tomczuk-utility-container {
        opacity: 0;
        pointer-events: none;
        transition: var(--main-transition);
    }
    .tomczuk-right-panel.active .tomczuk-utility-container,
    .tomczuk-right-panel.permactive .tomczuk-utility-container {
        opacity: 1;
        pointer-events: all;
    }
}


.tomczuk-primary,
.tomczuk-secondary {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.tomczuk-box {
    border: 1px solid var(--silver-color);
    border-radius: 5px;
    margin: 4px 0;
    flex: 1;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}

.tomczuk-box-title {
    background: #000;
    padding: 3px;
    border-radius: inherit;
    border-bottom: 2px solid var(--silver-color);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.tomczuk-box-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: stretch;
    padding: 5px;
}

.tomczuk-self-input {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 3px;
    cursor: copy;
    border-radius: 5px;
}

.tomczuk-self-input.tomczuk-self-input-copying {
    color: var(--red-color);
    font-weight: 800;
    background-color: #fff;
    border-color: var(--red-color);
    cursor: progress;
}

.tomczuk-row-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}

.tomczuk-btn {
    cursor: pointer;
    border: 1px solid black;
    text-decoration: none;
    flex: 1;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 2px 0;
    background: var(--silver-color);
    color: #000;
    transition: 150ms;
    text-transform: uppercase;
}

.tomczuk-btn:hover {
    text-decoration: none;
    box-shadow: inset 0 0 2px 1px black;
}

#panel-toggler {
    border: 2px solid yellowgreen;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background: white url('https://simpleicon.com/wp-content/uploads/pin.svg');
    background-size: cover;
    transition: var(--main-transition);
    margin-right: 15px;
}

#panel-toggler.pinned {
    background-color: yellowgreen;
}

#panel-toggler.pinned:hover {
    border-color: red;
}

#panel-toggler.unpinned:hover {
    border-color: black;
}



/* https://www.svgrepo.com/show/91399/mobile-phone-design.svg MOBILE ICON */

/* https://svgsilh.com/svg/525698.svg REFRESH ICON */